@charset "utf-8";
@import url("reset.css");
* {
    box-sizing: border-box;
}


/*  giini 列表日期隱藏*/

.hiddenobject {
    display: none;
}

a.firstGoTo {
    float: left;
    color: $white;
}

.ScreenReadersOnly {
    position: absolute !important;
    width: 1px;
    height: 1px;
    left: 0%;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.ScreenReadersOnly:active,
.ScreenReadersOnly:focus {
    position: fixed !important;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    overflow: visible;
    clip: auto;
}

html {
    -webkit-text-size-adjust: none;
}

input {
    border: none;
    padding-left: 9px;
    padding-right: 9px;
    font-family: "Microsoft JhengHei";
    height: 30px;
    font-size: 100%;
}

select {
    border: none;
    font-family: "Microsoft JhengHei";
    height: 30px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 100%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    select {
        padding-right: 0;
    }
}

input[type="submit"] {
    cursor: pointer;
}

input[type="button"] {
    cursor: pointer;
}

input.mini {
    width: 120px;
}

input.short {
    width: 180px;
}

input.middle {
    width: 250px;
}

input.long {
    width: 180px;
}

input.longlong {
    width: 180px;
}

.contentFontSmall input.mini {
    width: 100px;
}

.contentFontSmall input.short {
    width: 160px;
}

.contentFontSmall input.middle {
    width: 220px;
}

.contentFontSmall input.long {
    width: 160px;
}

textarea {
    border: none;
    padding: 9px;
    font-size: 100%;
    font-family: "Microsoft JhengHei";
}

form {
    width: 100%;
    height: 100%;
}

select {
    font-family: "Microsoft JhengHei";
}

// a {
//     text-decoration: none;
//     color: #FF6D46;
//     -o-transition: all .15s linear;
//     -webkit-transition: all .15s linear;
//     -moz-transition: all .15s linear;
//     transition: all .15s linear;
// }
a:hover {
    color: #fbd116;
    -o-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

// a:focus {
//     outline: none;
//     box-shadow: 0 0 0 0.2rem rgba(244, 122, 13, 0.6);
// }
.wrapper {
    overflow: hidden;
    min-height: 100%;
}


/*搜尋區*/

.searchBox {
    background: #d4ddcc;
    color: #3e6e10;
    padding: 30px 30px 16px 30px;
    margin-bottom: 30px;
}

.searchBox>* {
    display: inline-block;
}

.searchBox select,
.searchBox input {
    font-size: 80%;
    max-width: 240px;
}

.searchBox input.btn {
    border: none;
    width: 55px;
    height: 31px;
    background: url(../../images/icon/search_W.svg) no-repeat center/36%;
    text-indent: -9999px;
    vertical-align: middle;
    background-color: #47a938;
    border-radius: 5px;
}

.searchBox dl {
    margin-bottom: 15px;
    margin-right: 15px;
}

.searchBox dl>* {
    display: inline-block;
    vertical-align: middle;
}

.searchBox dl>dd.fieldset-group {
    display: inline-flex;
    flex-wrap: wrap;
}

.searchBox dl>dd.fieldset-group select {
    max-width: 100px;
}


/*██████↓↓↓↓ Nav選單 ↓↓↓↓██████*/

.Nav {
    width: 100%;
    position: relative;
    z-index: 1000;
    // margin-bottom: 62px;
}

.topNavWrap {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: pxTorem(2px);
}

.NavFixed {
    position: fixed;
}

.NavFixed .topNav {
    background: #37942A;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.mainNavWrap {
    position: absolute;
    width: 100%;
    left: 0;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation: 0.3s ease fadeInDown;
    animation: 0.3s ease fadeInDown;
    position: fixed;
    top: 0;
}

.mainNavWrap.fadeInDown .topNav {
    background: $primary;
    // padding: 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}


/*======= subNav 白色的 =======*/

.subNavWrap {
    background: #f8f6ed;
    padding: 0 11%;
    font-size: 80%;
    height: 7rem;
    width: 100%;
    display: flex;
}

.subNavWrap .logo {
    text-indent: -9999px;
    background: url(../../img/logo_w.png) no-repeat center/cover;
    @include size(330px,
    53px);
    float: left;
    margin-top: pxTorem(29px);
}

.topNavWrap {
    // float: right;
    // height: 100%;
    line-height: 25px;
    padding: 0 185px;
}

.subNav {
    float: right;
    height: 100%;
    line-height: 75px;
    &.menu {
        display: flex;
        flex: 1 0 auto;
        justify-content: flex-end;
    }
}

// .subNav>ul {
//     float: left;
// }
// .subNav>ul>li {
//     float: left;
// }
.subNav .acc {
    float: left;
}

.subNavWrap .menuControl {
    display: none;
    text-indent: -9999px;
    float: left;
    width: 68px;
    height: 100%;
    background: $Nav_color url(../../img/menuControl.svg) no-repeat center/50%;
}


/*---*/


/*----純文字的----*/

.topNavWrap {
    .subNavTxt {
        display: flex;
    }
}

.subNavTxt li {
    margin: 0 10px 0 0;
    position: relative;
    letter-spacing: 0.01em;
    display: flex;
}

// .subNavTxt li:before {
//     content: " /";
//     // position: absolute;
//     // left: -10px;
//     // top: 31px;
//     // height: 15px;
//     border-right: 1px solid rgba(80, 80, 80, 0.32);
// }
// .subNavTxt li:first-child:before {
//     border-right: none;
// }
.subNavTxt li a {
    color: #2e2e2e;
    height: 25px;
    line-height: 25px;
}

.subNavTxt_right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .login_btn {
        display: flex;
        align-items: flex-end;
        margin-bottom: 7px;
    }
    .search_btn {
        margin-right: pxTorem(30px);
        margin-bottom: pxTorem(17px);
        @include media-breakpoint-down(sm) {
            margin-bottom: pxTorem(13px);
        }
        a {
            border: 1px solid #f0f0f0;
            padding: 0;
            border-radius: 50%;
            background-color: #C9E7FE;
            transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
            width: 35px;
            height: 35px;
            font-size: 20px;
            padding: 7px;
        }
    }
    &>li {
        // height: 75px;
        line-height: 54px;
        color: #707070;
        font-size: pxTorem(14px);
        margin-right: 13%;
        display: flex;
        align-items: flex-end;
    }
    &>li a {
        @include bg-cover;
        display: flex;
        align-items: center;
    }
    .menu_box {
        border: 1px solid #f0f0f0;
        padding: 0;
        border-radius: 50%;
        background-color: $main_color;
        transition: .4s cubic-bezier(.215, .61, .355, 1);
        font-size: pxTorem(14px);
        width: 35px;
        height: 35px;
        background-size: cover;
        margin-right: 20px;
    }
    .dsc {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

¥
/*----不是純文字的其他----*/

.subNavOther>li {
    height: 100%;
}


/*--搜尋--*/

.subNavOther .search span,
.subNavOther .search>span {
    display: block;
}

.subNavOther .search>a {
    display: none;
    background: #17580D url(../../images/icon/search_w.svg) no-repeat center/55%;
    text-indent: -9999px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-top: 10px;
}

.subNavOther .search>a.searchClick {
    background: #17580D url(../../images/icon/cross.svg) no-repeat center/55%
}

.subNavOther .search input.text {
    width: 114px;
    vertical-align: middle;
    height: 30px;
    color: #7F7F7F;
    padding-left: 5px;
    border: 1px solid #EFECE3;
    margin-right: 8px;
}

.subNavOther .search input.btn {
    border: none;
    width: 30px;
    height: 30px;
    background: url(../../images/icon/search.svg) no-repeat center/100%;
    text-indent: -9999px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    margin-right: 20px;
}

@media screen and (min-width: 1280px) {
    .subNavOther .search label {
        display: inline;
    }
}


/*--分享--*/

// .subNavOther .share {
//     position: relative;
// }
// .subNavOther .share>a {
//     display: inline-block;
//     vertical-align: middle;
//     width: 30px;
//     height: 30px;
//     background: url(../../images/icon/share.svg) no-repeat center/contain;
//     margin: 0 20px 0 0;
//     text-indent: -9999px;
// }
// .subNavOther .share ul {
//     width: 55px;
//     position: absolute;
//     top: 78px;
//     left: 50%;
//     margin-left: -39.5px;
//     z-index: 999;
//     display: none;
// }
// .subNav .share ul a {
//     text-indent: -9999px;
//     display: block;
//     width: 100%;
//     height: 55px;
//     background-color: rgba(0, 0, 0, 0.75);
//     background-size: 50%;
//     background-repeat: no-repeat;
//     background-position: center;
//     margin: 0;
// }
// .subNav .share ul li {
//     margin-top: 5px;
// }
// .subNav .share ul li a {
//     border-radius: 50%;
// }
// .subNav .share li.fb a {
//     background-image: url(../../images/icon/fb.svg);
//     background-color: #43609c;
// }
// .subNav .share li.twitter a {
//     background-image: url(../../images/icon/twitter.svg);
//     background-color: #5EA9DD;
// }
// .subNav .share li.plurk a {
//     background-image: url(../../images/icon/plurk.svg);
//     background-color: #E95613;
// }
// .subNav .share li.gplus a {
//     background-image: url(../../images/icon/gplus.svg);
//     background-color: #D41E1B;
// }
// .subNav .share ul li.line a {
//     background-image: url(../../images/icon/line.svg);
//     background-color: #00c300 !important;
//     background-size: 80%;
// }

/*--語版--*/

.subNavOther .lan>a {
    display: inline-block;
    background: #fbd116;
    color: #000;
    padding: 2px 12px;
    height: 28px;
    vertical-align: middle;
    line-height: 25px;
}

.subNavOther .lan>a:hover {
    background: #FEE36B;
}


/*======= mainNav blue瑟的 + 球球 =======*/


/*----blue色的----*/

.topNav {
    height: 62px;
    background: $primary;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.18) inset;
    padding: 0 11%;
}

.topNav>li {
    float: left;
    width: 11.5%;
}

// .topNav>li>a:after {
//     content: "";
//     position: absolute;
//     right: 0px;
//     top: 0px;
//     height: 62px;
//     border-right: 1px solid rgba(255, 255, 255, 0.2);
// }
// .topNav>li:first-child>a:before {
//     content: "";
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     height: 62px;
//     border-left: 1px solid rgba(255, 255, 255, 0.2);
// }
.topNav>li>a {
    position: relative;
    display: table;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    color: $white;
    font-size: pxTorem(16px);
    // letter-spacing: 0.1em;
    i {
        font-size: pxTorem(14px);
        padding-right: 5px;
    }
}

.topNav>li.navNowHover>a {
    color: $white;
}

.topNav>li>a>span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/*--MEGAmenu--*/

.topNav a {
    color: $white;
    display: block;
}

.topNav a:hover {
    color: #fbd116;
}

.topNav a:focus {
    color: #fbd116;
}

.topNav>li>ul {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 100%;
    height: auto;
    background: $Nav_color;
    padding: 18px 13% 32px 13%;
    letter-spacing: 0.02em;
}


/*第二層*/

.topNav>li>ul>li {
    float: left;
    vertical-align: top;
    margin: 9px 25px;
    width: calc(25% - 56px);
}

.topNav>li>ul>li>a {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
    color: $Nav_Fontcolor;
    font-size: 100%;
}


/*第三層*/

.topNav>li ul li ul {
    margin-top: 12px;
    max-height: 124px;
    overflow: hidden;
}

.topNav>li ul li ul li {
    font-size: 90%;
    margin: 4px 0;
    padding-left: 17px;
    position: relative;
}

.topNav>li ul li ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 9px;
}

.topNav>li ul li ul li:hover:before {
    background: #fbd116;
}

.topNav .mobileShow {
    display: none;
}

@media screen and (max-width: 1024px) {
    .topNav>li ul li ul {
        display: none;
    }
    .topNav>li>a i {
        display: none;
    }
}


/*---沒有第三層的話---*/

.NoLv3 {
    position: relative;
}

.topNav>li.NoLv3 ul {
    left: 0;
    padding: 18px 5% 8px 5%;
}

// .topNav>li:nth-child(1).NoLv3 ul {
//     width: 190%;
// }
.topNav>li.NoLv3 ul li {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 9px 0;
    width: 100%;
}

.topNav>li.NoLv3 ul li:last-child a {
    border: none;
}

.topNav>li.NoLv3 ul li a {
    padding: 0 12px 12px 12px;
}

.topNav>li.navNowHover>a {
    background: $Nav_color;
    color: $white;
}


/*----球球----*/

.rightNavWrap {
    position: absolute;
    right: 5%;
    top: 53px;
}

.rightNav>li>a {
    width: 112px;
    margin-bottom: 19px;
    display: block;
    text-align: center;
    position: relative;
    color: #000;
}

.rightNav>li>a:before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background-color: #fbd116;
    position: absolute;
    left: 24px;
}

.rightNav>li>a>span {
    display: block;
    font-size: 82%;
    margin-top: 5px;
}

.special .rightNav>li>a>span {
    background: rgba(0, 0, 0, 0.56);
    border-radius: 20px;
    color: $white;
    padding: 4px;
}


/*.rightNav li a.service:before{background-image: url(../../images/icon/service.svg);}
.rightNav li a.research:before{background-image: url(../../images/icon/research.svg);}
.rightNav li a.library:before{background-image: url(../../images/icon/library.svg);}
.rightNav li a.media:before{background-image: url(../../images/icon/media.svg);}
.rightNav li a.link:before{background-image: url(../../images/icon/link.svg);}
*/

.rightNav>li>a>img {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 14px;
    position: relative;
    z-index: 1;
}

// .rightNav>li>a.RightNavFB:before {
//     background-color: #3b5998;
// }

/*██████↓↓↓↓ banner ↓↓↓↓██████*/

.banner,
.bannerPic {
    position: relative;
    height: 275px;
    padding: 114px 3% 58px 0%;
}

.bannerPic h1 {
    font-size: 38px;
    letter-spacing: -.5px;
    line-height: 1;
    margin: .5em 0;
    color: #fff;
    text-shadow: 4px 4px 19px #3569da;
}

.switchpic .bannerPic {
    height: 30vw;
}

@media screen and (max-width: 1024px) {
    .switchpic {
        display: none!important;
    }
}

.slogan {
    position: absolute;
    z-index: 100;
    color: $white;
    width: 100%;
    height: 108px;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 0px 0px 6px #000;
    // margin-top: 80px;
    top: 0;
    left: 0;
}

.slogan span {
    display: block;
    font-size: 190%;
}

.slogan b {
    display: block;
    font-size: 290%;
    margin-top: -3px;
}

.bannerPic img {
    width: 100%;
    height: auto;
}


/*██████↓↓↓↓ MAIN(側選單+內容頁) ↓↓↓↓██████*/

.main {
    min-height: 800px;
    width: 100%;
    position: relative;
    z-index: 100;
    background: #F8F6ED;
    padding: 0 13%;
}

.main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*====== 側邊選單 ======*/

.main aside .acc,
.main .aside .acc {
    position: absolute;
}

.main aside,
.main .aside {
    width: 18%;
    float: left;
    margin-top: -92px;
}

.main aside h2,
.main .aside h2,
.main aside .fakeh2,
.main aside .aside-title,
.main .aside .fakeh2,
.main .aside .aside-title {
    display: table;
    width: calc(100% + 1px);
    height: 92px;
    background: #46a938;
    color: $white;
    padding: 0 15%;
    font-size: 125%;
}

.main aside h2 b,
.main .aside h2 b,
.main aside .fakeh2 b,
.main aside .aside-title b,
.main .aside .fakeh2 b,
.main .aside .aside-title b {
    display: table-cell;
    vertical-align: middle;
}


/*側邊選單-第一層*/

.leftBtns {
    background: $white;
    border: 1px solid #e5e0cc;
}

.leftBtns>li>a {
    background: url(../../images/icon/btn_right.svg) #FFF no-repeat right center/0px 0px;
    color: #46a938;
    display: block;
    padding: 18px 33px 18px 15%;
    border-bottom: 1px solid #eee;
}

.leftBtns>li>a:hover,
.leftBtns>li>a.focus {
    background: url(../../images/icon/btn_right.svg) #fbd116 no-repeat right center/38px 15px;
    color: #000;
}


/*側邊選單-第二層*/

.leftBtns ul {
    padding: 6px 5% 8px 15%;
    border-bottom: 1px solid #eee;
    display: none;
}

.leftBtns ul.focus {
    display: block;
}

.leftBtns ul li {
    margin: 12px 0;
}

.leftBtns ul li a {
    display: inline-block;
    font-size: 90%;
    padding-left: 16px;
    color: #8b8b8b;
    position: relative;
}

.leftBtns ul li a:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #8b8b8b;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 9px;
}

.leftBtns ul li a.focus,
.leftBtns ul li a:hover {
    color: #46a938;
}

.leftBtns ul li a.focus:after,
.leftBtns ul li a:hover:after {
    content: "";
    width: calc(100% - 16px);
    height: 1px;
    background: #46a938;
    position: absolute;
    left: 15px;
    bottom: -3px;
}

.leftBtns ul li a.focus:before,
.leftBtns ul li a:hover:before {
    background: #46a938;
}

.leftBtns i {
    display: none;
}


/*====== 主內容區 ======*/

.main article {
    background: $white;
    float: left;
    width: 82%;
    margin-top: -92px;
    min-height: 800px;
    padding: 30px 38px 80px 38px;
    margin-bottom: 80px;
}

.top:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*-- 字型 --*/

.fontSize {
    float: right;
    margin-bottom: 35px;
}

.fontSize>li {
    float: left;
    margin-left: 8px;
    position: relative;
}

.fontSize>li.small {
    margin-left: 22px;
}

.fontSize>li a {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #e8e8e8;
    border-radius: 50%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: center;
}

.fontSize>li a.acc {
    opacity: 0;
    text-indent: 0;
    text-align: center;
    color: #000;
    background-color: transparent !important;
}

.fontSize>li a.acc:focus {
    opacity: 1;
}

.fontSize>li.now a {
    background-color: #f99620 !important
}

li.print a {
    background-image: url(../../images/icon/print2.svg);
}

li.share a {
    background-image: url(../../images/icon/share2.svg);
    position: relative;
}

li.small a {
    background-image: url(../../images/icon/fontsize2.svg);
    background-size: 35%;
}

li.small.now a,
li.middle.now a,
li.big.now a {
    background-image: url(../../images/icon/fontsize1.svg);
}

li.middle a {
    background-image: url(../../images/icon/fontsize2.svg);
    background-size: 45%;
}

li.big a {
    background-image: url(../../images/icon/fontsize2.svg);
    background-size: 54%;
}

ul.shareAll {
    display: none;
    width: 55px;
    position: absolute;
    top: 37px;
    left: 50%;
    margin-left: -27.5px;
    z-index: 999;
    padding-top: 13px;
    height: 214px;
}

.shareAll li {
    margin-bottom: 8px;
}

.shareAll a {
    text-indent: -9999px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .3);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -o-transition: all .20s linear;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    margin: 0 auto;
}

.shareAll a:hover {
    -o-transition: all .20s linear;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
}

.shareAll li:last-child a {
    border-bottom: none;
}

.shareAll li.fb a {
    background-image: url(../../images/icon/fb.svg);
    background-color: #43609c !important;
}

.shareAll li.twitter a {
    background-image: url(../../images/icon/twitter.svg);
    background-color: #5EA9DD !important;
}

.shareAll li.plurk a {
    background-image: url(../../images/icon/plurk.svg);
    background-color: #E95613 !important;
}

.shareAll li.gplus a {
    background-image: url(../../images/icon/gplus.svg);
    background-color: #D41E1B !important;
}

.shareAll li.line a {
    background-image: url(../../images/icon/line.svg);
    background-color: #00c300 !important;
    background-size: 80%;
}

.shareAll ul li.fb a:hover {
    background-color: #43609c;
}


/*麵包屑*/

.path {
    color: #828282;
    font-size: 90%;
    float: left;
    margin-bottom: 18px;
    position: relative;
}

.path a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 218px;
    color: #828282;
    background: #f5f5f5;
    display: inline-block;
    padding: 8px 12px;
    margin: -5px 0 0 0;
    border-radius: 18px;
    font-size: 98%;
    vertical-align: bottom;
}

.path>nav {
    display: inline-block;
}

.path .acc:focus {
    position: static;
    color: #000;
    font-weight: bold;
}

.RouteTxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 218px;
    color: #828282;
    background: #f5f5f5;
    display: inline-block;
    padding: 8px 12px;
    margin: -5px 0 0 0;
    border-radius: 18px;
    font-size: 98%;
    vertical-align: middle;
}

.path .acc {
    position: absolute;
    background: none;
    color: rgba(0, 0, 0, 0);
    left: -37px;
}

.path .backIndex {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-indent: -9999px;
    background-image: url(../../images/icon/back_index.svg);
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: center;
    margin-top: -1px;
    margin-right: 6px;
}

header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header h1 {
    font-size: 194%;
    margin-bottom: 28px;
    color: #46A938;
    padding-left: 24px;
    position: relative;
}

header h1:before {
    content: "";
    width: 5px;
    height: 31px;
    background: #46A938;
    position: absolute;
    left: 0;
    top: 10px;
}


/*--內容區--*/

.content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

footer {
    background: #252525;
    position: relative;
    z-index: 1;
    padding: 60px 2% 30px 2%;
    color: $white;
    overflow: hidden;
    // position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: $white;
}

footer a:hover {
    color: #ff0;
}

footer a:focus {
    color: #ff0;
}

.sitemapAll {
    padding: 60px 5% 20px 5%;
}

footer a.trigger {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 2550, 255, 0.2)
}

footer a.trigger#open-Panel1 {
    z-index: 3;
}

footer a.trigger i {
    line-height: 60px;
    width: 185px;
    margin: 0 auto;
    display: block;
}

footer a.trigger i:before {
    content: "網站架構";
}

footer a.trigger#open-Panel1 i:before {
    content: "網站架構點選展開";
}

footer a.trigger#close-Panel1 i:before {
    content: "網站架構點選收合";
}

footer a.trigger i:after {
    width: 21px;
    height: 21px;
    content: "";
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: 65px;
}

footer a.trigger#open-Panel1 i:after {
    background-image: url('../../images/triggerOpen.png');
}

footer a.trigger#close-Panel1 i:after {
    background-image: url('../../images/triggerClose.png');
}

.sitemapAll ul {
    overflow: hidden;
    line-height: 1.3em;
}

.sitemapAll>ul>li {
    width: 16%;
    padding: 0 17px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
}

.sitemapAll>ul>li>a {
    display: block;
    letter-spacing: 0.1em;
    font-size: 98%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.sitemapAll>ul>li>ul {
    font-size: 85%;
}

.sitemapAll>ul>li>ul>li {
    margin: 8px 0;
}


/*copyright*/

.copyWrap {
    overflow: hidden;
    position: relative;
    font-size: 80%;
    margin-bottom: 30px;
}

.copyWrap>* {
    display: block;
}

.copyright {
    float: left;
    line-height: 1.7;
}

.copyWrap>span:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
}

.copyWrap>span:last-child>img {
    width: 92px;
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 9px;
}

.copyright>* {
    display: block;
}

.copyright>*.acc {
    display: initial;
}

footer .otherLink {
    padding-top: 30px;
    font-size: 80%;
    position: relative;
}

footer .otherLink:before {
    content: "";
    width: 2600px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1300px;
    background: $white;
}

footer .otherLink .aplus {
    width: 142px;
    height: 50px;
    float: left;
    margin-right: 20px;
}

footer .otherLink ul {
    float: right;
}

footer .otherLink ul li {
    float: left;
    padding: 0 13px;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

footer .otherLink ul li:last-child {
    padding: 0 0 0 13px;
    border-right: none;
}

a.footerMailbox {
    display: inline-block;
    width: 30px;
    text-indent: -9999px;
    background: url(../../images/icon/mail_w.svg) no-repeat;
    margin-left: 11px;
}

a.footerMailbox:hover {
    opacity: 0.8;
}

footer .otherLink a:focus>img {
    border: 2px #fff solid;
}


/*滿板*/

.full header>h2 {
    display: none;
}

.full aside,
.full .aside,
.full .banner {
    display: none;
}

.full article {
    width: 100%;
    float: none;
    margin-top: 0;
    background: #F8F6ED;
}

.full.special article {
    padding: 0;
}

.full .main {
    margin-top: 0;
}

.full.special .main {
    padding: 0;
}

.full .rightNav {
    top: 33px;
}

.full .path a,
.full .path .backIndex,
.full .fontSize>li a {
    background-color: $white;
}

.full .path a.acc {
    background: none !important;
}

.full .RouteTxt {
    color: #828282;
    background: $white;
    display: inline-block;
    padding: 8px 12px;
    margin: 0 0px;
    border-radius: 18px;
    font-size: 98%;
}

.full .pageNum a {
    display: inline-block;
    color: #828282;
    background-color: $white;
}

.full h1 {
    font-size: 240%;
    padding-left: 0;
    color: #37902A;
}

.full header>h1:before {
    display: none;
}

.full header>nav ul {
    overflow: hidden;
    margin-bottom: 25px;
}

.full header>nav li {
    float: left;
    margin-right: 10px;
}

.full header>nav a {
    font-size: 119%;
    display: block;
    min-width: 270px;
    padding: 14px 27px;
    background: url(../../images/icon/btn_right_g.svg) #fff no-repeat 90% center/15px 15px;
    border: 1px solid #f0ede0;
    color: #46a938;
    -o-transition: all 0s linear;
    -webkit-transition: all .0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
}

.full header>nav a.focus,
.full header>nav a:hover {
    background: url(../../images/icon/btn_right_w.svg) #46a938 no-repeat 90% center/15px 15px;
    border: 1px solid #f0ede0;
    color: $white;
}

.special .rightNav {
    right: 1%;
}

.special .fontSize {
    display: none;
}


/*--旅遊資訊特別的--*/

li.travel>ul {
    padding-right: calc(13% + 150px);
}

li.travel>ul>li:first-child {
    position: absolute;
    width: 170px;
    right: 13%;
    top: 30px;
    margin: 0;
}

li.travel>ul>li:nth-child(2)>ul {
    height: 300px;
    overflow: hidden;
}

.closeOpenMenu {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -o-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
}

.fixedBtn {
    display: table;
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f99620;
    color: $white;
    z-index: 999;
    right: 6%;
    font-size: 80%;
    -o-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.fixedBtn:hover {
    opacity: 1;
    color: $white;
    -o-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
}

.fixedBtn>b {
    display: table-cell;
    padding-top: 25px;
    vertical-align: middle;
    text-align: center;
}

.goTop {
    bottom: 105px;
    background: #f99620 url(../../img/goTop.svg) no-repeat center 13px/32%;
}

.goBack {
    bottom: 20px;
    background: #f99620 url(../../images/icon/goBack.svg) no-repeat center 7px/46%;
}

.adjustOthersBtn .goTop {
    bottom: 375px;
}

.adjustOthersBtn .goBack {
    bottom: 290px;
}


/*錯誤頁*/

.otherPage {
    color: $white;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: fixed;
    background: url(../../images/errorPageBg.jpg) no-repeat top left/cover;
}

.otherPage .box {
    position: absolute;
    width: 791px;
    height: 440px;
    top: 10vh;
    margin-right: -596px;
    right: 50%;
}

.otherPage h1.logo {
    text-align: center;
    margin-bottom: 11px;
}

.otherPage .logo a {
    display: inline-block;
    background: url(../../img/logo_w.png) no-repeat center/contain;
    width: 390px;
    margin-top: 4px;
    margin-left: -11px;
    text-indent: -9999px;
    margin-bottom: 3px;
}

.otherPage .backBtn {
    margin-top: 20px;
    text-align: center;
}

.otherPage .backBtn a {
    display: inline-block;
    width: 180px;
    color: $white;
    padding: 10px;
    border-radius: 20px;
    background: #FF6D46;
    font-size: 90%;
}

.otherPage .box p {
    font-weight: 700;
}

.errorPage .box p.t1 {
    display: inline-block;
    font-size: 501%;
    line-height: 100%;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
}

.errorPage .box p.t2 {
    display: inline-block;
    font-size: 439%;
    margin-top: -12px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.errorPage .box p.t3 {
    margin-bottom: 26px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 130%;
    font-weight: normal;
    margin-top: 6px;
    position: relative;
}

.errorPage .box p.t3:before {
    content: "";
    width: 141px;
    height: 1px;
    background: $white;
    position: absolute;
    left: 0;
    top: 13px;
    opacity: .6;
}

.errorPage .box p.t3:after {
    content: "";
    width: 141px;
    height: 1px;
    background: $white;
    position: absolute;
    right: 0;
    top: 13px;
    opacity: .6;
}

.otherPage .box span {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    margin-top: 17px;
}

.errorPage .box span p {
    margin: 5px 0;
}


/*外連頁*/

.linkOutPage {
    background: url(../../images/linkOutPageBg.jpg) no-repeat bottom right/cover;
}

.linkOutPage .box {
    width: 681px;
    height: 440px;
    margin-left: 0px;
    margin-right: 0px;
    left: 10%;
    right: auto;
}

.linkOutPage .logo a {
    background: url(../../images/logo_horizontal_b.png) no-repeat center/contain;
}

.linkOutPage .box p.t1 {
    color: #2f2f2f;
    font-size: 405%;
    text-align: center;
    margin-top: -12px;
    text-shadow: 0px 0px 23px $white;
}

.linkOutPage .box span {
    padding: 10px 28px;
}

.linkOutPage .box span p {
    font-size: 90%;
    margin: 13px 0;
    line-height: 1.5em;
}

.mobileSecondBtn i {
    display: none;
}

@media print {
    .Nav,
    aside,
    .aside,
    .rightNavWrap,
    section.bannerPic,
    footer,
    header .top {
        display: none;
    }
    .main article {
        width: 100% !important;
        margin-top: 0;
    }
    header h1 {
        padding: 0
    }
    .main {
        padding: 0
    }
    .othersBtn {
        display: none;
    }
}

.ui-widget-content {
    z-index: 9999 !important;
    padding: 13px !important;
    border: 1px solid rgba(70, 169, 56, 0) !important;
    width: 330px !important;
    background: rgba(255, 255, 255, 0.9) !important;
    font-size: 90% !important;
    line-height: 1.3;
    font-family: "微軟正黑體" !important;
}

.ui-widget-content li {
    margin: 10px 0 !important;
}


/* .slick-slide {
    height: auto !important;
} */

body.withoutJs {
    overflow-x: auto;
    overflow-y: auto;
    opacity: 1;
}


/*無障礙定位點中央主要區塊透明*/

.HideAnchor {
    opacity: 0;
    position: absolute;
}

.fontSize>li a.acc.skiptoolbarMenu {
    width: auto;
    height: 38px;
    font-size: 0.75rem;
    display: block;
    line-height: 1.6em;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: unset;
    color: $white;
    padding: 0 10px;
}

.megaBanner .slick-slide img {
    width: 100%;
}

.step0 .processmemo {
    display: none;
}

@media screen and (max-width: 1150px) {
    .subNavWrap {
        font-size: 50%;
    }
}

@media screen and (max-width: 1680px) {
    .topNav>li:nth-child(1).NoLv3 ul {
        // width: 280%;
    }
}

@media screen and (max-width: 1440px) {
    .topNav,
    .subNavWrap {
        padding: 0 5%;
    }
    .main {
        padding: 0 5%;
        padding-right: calc(5% + 70px);
    }
    .topNav>li>ul {
        padding: 18px 5% 40px 5%;
    }
    li.travel>ul>li:first-child {
        right: calc(5% + 56px);
        top: auto;
        bottom: 14px;
    }
    .rightNavWrap {
        right: 8px;
    }
    footer {
        padding: 60px 5% 26px 5%;
    }
    .fixedBtn {
        right: 32px;
    }
    /*404*/
    .errorPage .box {
        width: 400px;
        margin-right: -416px;
    }
    .errorPage .box p.t3:before,
    .errorPage .box p.t3:after {
        display: none;
    }
    .errorPage .box p.t1 {
        font-size: 561%;
        margin-right: 0;
    }
    .errorPage .box p.t3 {
        font-size: 106%;
        font-weight: bold;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        position: absolute;
        width: 100%;
    }
    .topNav,
    .subNavWrap {
        padding: 0 30px 0 0;
    }
    .main {
        padding: 0;
    }
    .topNav>li>ul {
        padding: 18px 0;
    }
    .rightNavWrap {
        right: 8px;
    }
    .wrapper {
        padding-top: 68px;
    }
    .wrapper .Nav {
        height: 68px;
        margin-bottom: 0px;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }
    .subNavWrap {
        width: 100%;
        background: $white;
        height: 70px;
        position: absolute;
        top: 0;
    }
    .subNav {
        float: right;
        height: 100%;
        line-height: 68px;
    }
    .subNavWrap .logo {
        background: url(../../img/logo_w.png) no-repeat center/contain;
        width: pxTorem(300px);
        margin-top: 10px;
        margin-left: 20px;
        max-width: pxTorem(320px);
        width: 54%;
    }
    .rightNavWrap {
        display: none;
    }
    .topNav .mobileShow {
        display: block;
    }
    .subNavWrap .menuControl,
    .subNavWrap .menuControl_right {
        display: block;
    }
    .subNavOther .search input.btn {
        background: url(../../images/icon/search_w.svg) no-repeat center/100%;
    }
    /*å´é–‹*/
    .mainNavWrap {
        position: fixed;
        width: 250px;
        top: 0;
        left: -250px;
        overflow: hidden;
        height: 100vh;
    }
    .topNav {
        height: 100%;
        width: 100%;
        background: $primary;
        padding: 0;
        padding-top: 13px;
        overflow-y: scroll;
        padding-bottom: 85px;
    }
    .NavFixed .topNav {
        background: $primary;
    }
    .topNav>li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .topNav>li.haveSecond {
        background: url(../../img/btn_down_w_4.svg) no-repeat 200px 15px/20px
    }
    .topNav>li.haveSecond.UPPP {
        background: url(../../img/btn_down_w_4.svg) no-repeat 200px 15px/20px;
    }
    .topNav>li>a {
        font-size: 110%;
        height: 47px;
        padding: 0 24px;
    }
    .topNav>li>a>span {
        text-align: left;
    }
    /*ç¬¬äºŒå±¤*/
    .topNav>li>ul {
        display: none;
        position: relative;
        padding: 0;
    }
    .topNav>li>ul>li {
        display: block;
        float: none;
        margin: 0;
        width: 100%;
    }
    .topNav>li>ul>li>a {
        padding: 13px 23px;
        font-size: 110%;
    }
    li.travel>ul>li:nth-child(2) {
        width: 100%;
    }
    .topNav>li.travel>ul>li {
        float: none;
    }
    .megaBanner {
        display: none !important;
    }
    li.travel>ul>li:first-child {
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
    }
    .topNav a:hover {
        color: $white;
    }
    .subNavTxt {
        display: none;
    }
    .topNav>li.NoLv3 ul {
        width: 100%;
    }
    .topNav>li:nth-child(1).NoLv3 ul {
        width: 100%;
    }
    /* -- banner -- */
    .banner,
    .bannerPic {
        display: none;
    }
    /* -- å´é‚Šé¸å–® -- */
    .main aside,
    .main .aside {
        margin-top: 0px;
    }
    .main article {
        margin: 0px;
    }
    /* -- footer -- */
    .sitemapAll {
        display: none;
    }
    footer {
        padding: 10px 5% 26px 5%;
    }
    footer .trigger {
        display: none;
    }
    .mobilehidden {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .copyrightMobile {
        display: none;
    }
    .copyrightDeskTop>* {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .copyrightDeskTop {
        display: none;
    }
    .copyrightMobile {
        display: block;
    }
    .copyrightMobile>* {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .copyright>*.acc {
        display: none;
    }
    .topNav {
        font-size: 90%;
    }
    header .top {
        float: right;
        position: relative;
        z-index: 3;
    }
    .full .path a,
    .full .path .backIndex,
    .full .fontSize>li a {
        margin-top: 11px;
    }
    .path {
        display: none;
    }
    .fontSize {
        margin-top: 7px;
        margin-bottom: 0;
    }
    .fontSize>* {
        display: none;
    }
    .fontSize li.share {
        display: block;
    }
    .subNav .acc {
        display: none;
    }
    .main article {
        width: 100%;
        min-height: 835px;
    }
    footer .otherLink {
        display: none;
    }
    .copyWrap {
        margin-bottom: 0;
    }
    /* --- ä¸Šæ–¹èª¿æ•´ -- */
    .subNavOther .search {
        margin-right: 15px;
    }
    .subNavOther .search>a {
        display: block;
    }
    .subNavOther .search input.btn {
        margin-right: 0;
        width: 33px;
        height: 33px;
    }
    .subNavOther .search input.text {
        width: 180px;
        height: 40px;
        border-radius: 20px;
        padding-left: 21px;
    }
    .subNavOther .search span,
    .subNavOther .search>div {
        display: none;
        position: fixed;
        width: 232px;
        left: 50%;
        top: 76px;
        height: 86px;
        margin-left: -108px;
    }
    .subNavOther .search span:after,
    .subNavOther .search>div:after {
        position: fixed;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        width: 100vh;
        height: 86px;
        z-index: -1;
        top: 68px;
        left: 0;
    }
    .subNavOther .lan>a {
        display: block;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        text-indent: -9999px;
        margin-top: 10px;
        background: #fbd116 url(../../images/icon/english.svg) no-repeat center/65% !important;
    }
    /* -- asideèª¿æ•´ -- */
    .main aside,
    .main .aside {
        float: none;
        width: 100%;
    }
    .main aside h2,
    .main .aside h2,
    .main aside .fakeh2,
    .main aside .aside-title,
    .main .aside .fakeh2,
    .main .aside .aside-title {
        display: none;
    }
    .leftBtns {
        border: none;
        padding-bottom: 1px;
    }
    .leftBtns ul {
        padding: 20px 30px;
    }
    .copyWrap>span:last-child>img {
        display: none;
    }
    /* -- ç¬¬äºŒå±¤å’Œä¸‰å±¤ -- */
    .leftBtns i {
        display: block;
    }
    .leftBtns>li {
        display: none;
    }
    .leftBtns .mobileSecondBtn {
        display: block;
        text-align: center;
        position: relative;
    }
    .leftBtns .mobileSecondBtn>a.focus {
        display: none;
        padding: 20px 30px 0;
        font-size: 228%;
        background: none;
        color: #46A938;
        position: relative;
        background: $white;
        border-bottom: 0;
        margin-top: 15px;
    }
    .leftBtns .mobileSecondBtn>a.focus:before {
        content: "";
        width: 110px;
        height: 1px;
        background: #46A938;
        position: absolute;
        left: -100px;
        top: 50%;
        margin-top: 9px;
    }
    .leftBtns .mobileSecondBtn>a.focus:after {
        content: "";
        width: 110px;
        height: 1px;
        background: #46A938;
        position: absolute;
        right: -100px;
        top: 50%;
        margin-top: 9px;
    }
    .leftBtns .mobileSecondBtn.haveThird>a {
        display: inline-block;
    }
    .mobileSecondBtn>ul {
        overflow: hidden;
        font-size: 120%;
        position: relative;
    }
    .mobileSecondBtn>ul li {
        margin: 16px 0;
        width: calc(50% - 12px);
        float: left;
        vertical-align: top;
        display: none;
    }
    .leftBtns ul li a {
        padding-left: 0;
        margin: 0 10px;
    }
    .leftBtns ul li a:before {
        display: none;
    }
    .leftBtns ul li a.focus:after,
    .leftBtns ul li a:hover:after {
        width: 100%;
        left: 0;
    }
    .mobileSecondBtn i {
        background: #f99620;
        margin: 0;
        color: #FFFFFF;
        display: block;
        height: 56px;
        position: absolute;
        top: 101px;
        left: 50%;
        width: 65%;
        margin-left: -32.5%;
        line-height: 57px;
        border-radius: 9px;
        font-size: 113%;
        padding-right: 45px;
    }
    /*èª¿æˆå±•é–‹ã„‰*/
    .mobileSecondBtn ul.focus {
        position: relative;
        background: #F8F8F8;
        width: 65%;
        margin: 20px auto;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 9px;
        margin-top: 80px;
        border-bottom: none;
    }
    .mobileSecondBtn>ul li.mobileThirdBtn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: table !important;
        margin: 0;
        padding: 0;
        height: 70px !important;
        font-size: 120%;
    }
    .mobileSecondBtn>ul li.mobileThirdBtn a.focus {
        width: 100%;
        background: #2E8222;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
        color: $white;
    }
    .mobileSecondBtn i:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../../images/icon/btn_down_w.svg) no-repeat center/contain;
        left: initial;
        right: 27px;
        top: 50%;
        margin-top: -12px;
    }
    .mobileSecondBtn i.UUUp:after {
        background: url(../../images/icon/btn_up_w.svg) no-repeat center/contain;
    }
    /* -- asideèª¿æ•´ end -- */
    .site .box {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin: .5%;
        margin-bottom: 39px;
    }
    /*404*/
    .errorPage {
        background: url(../../images/errorPageBg2.jpg) no-repeat bottom left/cover;
    }
    .errorPage .box {
        margin-right: -200px;
    }
    .linkOutPage {
        background: url(../../images/linkOutPageBg.jpg) no-repeat top right/cover;
    }
    .linkOutPage .box {
        width: 500px;
        right: auto;
        left: calc((100% - 500px)/2);
        margin-left: 0px;
        margin-top: 0px;
    }
    .linkOutPage .logo a {
        background: url(../../images/logo_horizontal.png) no-repeat center/contain;
        width: 346px;
        margin-top: 35px;
    }
    .linkOutPage .box p.t1 {
        color: $white;
        text-shadow: 0px 0px 23px #000;
    }
    footer {
        padding: 24px 30px 26px 30px;
    }
    /*ä¸Šç¨¿èª¿æ•´*/
    .textWrap img {
        width: 100% !important;
        height: auto !important;
    }
}

@media screen and (max-width: 480px) {
    a {
        -webkit-tap-highlight-color: rgba(128, 128, 128, 0);
        -webkit-user-select: none;
    }
    .fontSize {
        margin-top: 0;
    }
    .subNavWrap .logo {
        background: url(../../img/logo_w.png) no-repeat center/contain;
        width: 140px;
        margin-top: 0;
        margin-left: 13px;
    }
    .subNavWrap .menuControl {
        width: 48px;
    }
    .subNavWrap {
        padding: 0 16px 0 0;
    }
    .main {
        min-height: 560px;
    }
    .main article {
        padding: 23px 26px 80px 26px;
        min-height: 560px;
    }
    .newsBox h4,
    .newsBox p,
    .newsBox p.newsheadline {
        height: 0;
    }
    .subNavOther .search {
        margin-right: 9px;
    }
    .subNavOther .search>a {
        width: 38px;
        height: 38px;
        margin-top: 16px;
        transition: initial;
    }
    .subNavOther .lan>a {
        width: 38px;
        height: 38px;
        margin-top: 16px;
    }
    /*ç¬¬ä¸‰å±¤é¸å–® æ¨™é¡Œä¸‹æ‹‰*/
    .mobileSecondBtn i {
        width: 84%;
        margin-left: -42%;
        font-size: 107%;
    }
    .leftBtns {
        padding: 0 18px 1px 18px;
    }
    .mobileSecondBtn>ul li {
        display: inline-block;
        width: 100%;
        margin: 11px 0;
    }
    .mobileSecondBtn>ul li.mobileThirdBtn a.focus {
        padding: 0 36px;
    }
    .leftBtns .mobileSecondBtn>a.focus {
        max-width: 282px;
        line-height: 1.3em;
    }
    .leftBtns .mobileSecondBtn>a.focus:before {
        width: 60px;
        left: -40px;
    }
    .leftBtns .mobileSecondBtn>a.focus:after {
        width: 60px;
        right: -40px;
    }
    .mobileSecondBtn>ul li.mobileThirdBtn {
        height: 66px !important;
    }
    .mobileSecondBtn ul.focus {
        padding-top: 0;
        width: 84%;
    }
    .mobileSecondBtn ul.focus li {
        display: none;
    }
    .mobileSecondBtn>ul {
        font-size: 100%;
    }
    .mobileSecondBtn>ul li.mobileThirdBtn a.focus:after {
        right: 14px;
    }
    /*æ¨™é¡Œ*/
    header h1 {
        font-size: 153%;
        margin-bottom: 18px;
    }
    header h1:before {
        width: 5px;
        height: 26px;
        top: 7px;
    }
    footer {
        padding: 18px 20px 10px 20px;
        text-align: center;
    }
    a.footerMailbox {
        display: none;
    }
    .copyright,
    .copyright-mobile {
        float: none;
    }
    .copyright>strong,
    .copyright-mobile>strong {
        display: block;
        width: 270px;
        margin: 7px auto;
        line-height: 1.2em;
    }
    .copyWrap>span:last-child {
        display: none;
    }
    /*æœå°‹BOX*/
    .searchBox dl>dt {
        display: block;
        margin-bottom: 7px;
    }
    .searchBox {
        padding: 12px 26px 15px 26px;
    }
    /*å›ºå®šä½çš„*/
    .fixedBtn {
        text-indent: -9999px;
        width: 50px;
        height: 50px;
    }
    .goTop {
        bottom: 142px;
        background: #f99620 url(../../img/goTop.svg) no-repeat center 15px/38%;
    }
    .goBack {
        bottom: 81px;
        background: #f99620 url(../../images/icon/goBack.svg) no-repeat center 13px/49%;
    }
    .fixedBtn {
        right: 14px;
    }
    .pageNum>a {
        display: none;
    }
    .pageNum a.pre,
    .pageNum a.next {
        display: inline-block;
    }
    .hideH1 header h2 {
        margin-bottom: 16px;
    }
    /*å…¨ç‰ˆçš„é¸å–®*/
    .full header nav a {
        min-width: 0;
        padding: 14px 18px;
        font-size: 95%;
    }
    .full header nav li {
        width: 48%;
        margin-right: 0;
    }
    .full header nav ul>*:nth-child(odd) {
        margin-right: 2%;
    }
    .goBack {
        bottom: 28px;
    }
    .goTop {
        bottom: 92px;
    }
    .subNavOther .share>a {
        margin: 0 17px 0 0;
    }
    /*æœå°‹æŒ‰éˆ•*/
    .searchBox dl {
        margin-right: 5px;
    }
    input.long {
        width: 162px;
    }
    /*å¤–é€£é */
    .linkOutPage {
        background: url(../../images/linkOutPageBg2.jpg) no-repeat bottom right/cover;
    }
    .linkOutPage .box {
        width: 86%;
        height: auto;
        margin-left: 0%;
        margin-top: 8vh;
        top: 0;
        left: 7%;
    }
    .linkOutPage .box span p {
        margin: 0 0 13px 0;
    }
    .linkOutPage .logo a {
        width: 88%;
    }
    .linkOutPage .box p.t1 {
        font-size: 275%;
    }
    .linkOutPage .box span {
        padding: 16px 28px;
    }
    .linkOutPage .box span {
        padding: 16px 28px;
    }
    .otherPage .backBtn a {
        margin-bottom: 12px;
    }
    /*404*/
    .errorPage .box {
        width: 80%;
        margin-right: -40%;
    }
    .otherPage .logo a {
        width: 100%;
    }
    .errorPage .box p.t1 {
        font-size: 400%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .errorPage .box p.t2 {
        display: block;
        font-size: 320%;
        text-align: center;
    }
}

@media screen and (max-width: 376px) {
    .main article {
        padding: 18px 18px 20px 18px;
    }
    footer {
        padding: 7px 20px 9px 20px;
    }
    .searchBox {
        padding: 12px 20px 13px 20px;
    }
    /*å…¨ç‰ˆçš„é¸å–®*/
    .full header nav ul>*:nth-child(odd) {
        margin-bottom: 3px;
    }
    .full header nav li {
        width: 100%;
    }
    .hideH1 header h2 {
        font-size: 205%;
    }
    /*ç¬¬ä¸‰å±¤é¸å–®æ¨™é¡Œä¸‹å•¦*/
    .mobileSecondBtn i {
        width: 100%;
        margin-left: -50%;
        font-size: 99%;
        line-height: 47px;
        height: 45px;
        margin-top: 9px;
    }
    .mobileSecondBtn ul.focus {
        margin-top: 60px;
    }
    .leftBtns .mobileSecondBtn>a.focus {
        max-width: 230px;
        line-height: 1.3em;
        font-size: 207%;
        margin-top: 0;
    }
    .leftBtns .mobileSecondBtn>a.focus:before {
        width: 45px;
        left: -24px;
    }
    .leftBtns .mobileSecondBtn>a.focus:after {
        width: 45px;
        right: -24px;
    }
    .mobileSecondBtn ul.focus {
        width: 100%;
    }
    /*vic*/
    .about_4>ul>li {
        font-size: 137%;
    }
    /*å¤–é€£*/
    .linkOutPage .box {
        width: 90%;
        left: 5%;
    }
    .linkOutPage .box p.t1 {
        font-size: 237%;
    }
    .linkOutPage .box span {
        font-size: 94%;
        padding: 16px 16px;
    }
    /*404*/
    .errorPage .box {
        top: 4vh;
    }
    .errorPage h1.logo {
        margin-bottom: 0;
    }
    .errorPage .box {
        width: 90%;
        margin-right: -45%;
    }
    .errorPage .box p.t1 {
        font-size: 330%;
    }
    .errorPage .box p.t2 {
        font-size: 261%;
    }
    .otherPage .box span {
        font-size: 95%;
    }
}