// Color
$primary: #115FA3;
$secondary: #5495C2;
$third-color:#3784ed;
$mainTab-color:#0B3B7C;
$btn-color:#2E7BD3;
$Nav_color:#2C4458;
$main_color:#C9E7FE;
$tab_color:#235EAF;
$submenu: #d0d2d4;
$ad_color:#1FB5B5;
$Nav_Fontcolor:#E2EAF0;
$success: #ff5e45;
$danger: #be0027;
$info: #FFE035;
$muted: #A2D4DD;
$bottom_color:#9AD1EA;
$dark: #707070;
$light: rgba(white, 0.7);
$white: white;
$black: black;
$font-color:#000;
$title_color:#9AD6DF;
$deep-pink:#e1306c;
$menu_color: #EBEBEB;
$search_color:#E8F5FD;
$bg_color:#F0F0F7;
$theme-color: ( 'ad_color':$ad_color, 'deep-pink':$deep-pink, 'title_color':$title_color, 'btn-color':$btn-color, 'tab_color':$tab_color, 'third-color':$third-color, 'primary': $primary, 'secondary': $secondary, 'success': $success, 'danger': $danger, 'info': $info, 'muted': $muted, 'light': $light, 'dark': $dark, 'white': $white, 'black': $black, );