.e-btn {
    display: inline-block;
    border-radius: 15px;
    background-color: #eee;
    padding: pxTorem(6px) pxTorem(20px);
    color: white;
    font-size: 1.2rem;
    line-height: 2;
    text-align: center;
    height: pxTorem(52px);
    cursor: pointer;
    &:hover,
    &:focus {
        box-shadow: pxTorem(1px) pxTorem(12px) pxTorem(14px) rgba(black, 0.4);
        background-color: $tab_color;
        color: white;
    }
    // 顏色樣式
    @each $name,
    $value in $theme-color {
        &_#{$name} {
            background-color: $value;
        }
    }
    // 寬樣式
    &_w_lg {
        width: pxTorem(200px);
    }
}