.m-member-form {
    border-top: 3px solid $success;
    padding: pxTorem(15px);
    &__title {
        font-weight: $font-weight-bold;
        text-align: center;
    }
    &__label {
        font-weight: $font-weight-regular;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}

.thankInfo {
    width: 100%;
    color: #222;
    letter-spacing: 1.5px;
    margin: 0 0 20px;
    padding: 10px;
    position: relative;
}