<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        titleCAE
        meta(property="og:title" content="CAE")
        meta(property="og:site_name" content="CAE")
        meta(property="og:locale" content="zh_TW")
        link(href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", rel="stylesheet")
        link(href="./css/all.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
         script(src="https://code.jquery.com/jquery-3.4.1.min.js")
          
        
    body
     header.l-header 
      nav.m-subnav 
       .container.px-xl-3
          h1.h-hide-text
            a(href="index.html", title="LOGO",style="background-image: url('img/logo_w.png')").e-brand
              | CAE
          ul.m-navbar__sub.m-navbar__sublist
            li
             a(href="index.html", title="Home").m-navbar__sublink
              |Home 
             li
             a(href="index.html", title="Home").m-navbar__sublink
              | 聯絡我們 
            li
             a(href="index.html", title="Home").m-navbar__sublink
              | 網站導覽 
            li
             a(href="index.html", title="Home").m-navbar__sublink
              | 常見問題
      nav.m-navbar.m-navbar.m-navbar_abs_top.js-m-navbar
       
       .container.px-xl-3
          h1.h-hide-text
            a(href="index.html", title="LOGO",style="background-image: url('img/logo_w.png')").e-brand
              | CAE
          
          ul.m-navbar__list.js-m-navbar__list
            li
              a(href="index.html", title="Home").m-navbar__link
               i.fas.fa-home
               | Home
            li
              a(href="cart.html", title="Order").m-navbar__link
                 i.fas.fa-shopping-cart
                 | Order
            li 
              a(href="login.html", title="Login").m-navbar__link
                 i.fas.fa-user
                 |  Login
          .m-navbar__button.js-m-navbar__button
           .m-navbar__button-open
           .m-navbar__button-close
      .m-hero
        .container.px-0
         .m-hero__bg
           .m-hero__content
            h2.m-hero__title.h-t1
              |CAE
            p  Treat yourself with a sweet
     section.p-feature.py-5 
        //-
         feature                       
        .container.px-md-4
         .row.justify-content-center
           h3.p-feature__title BEST SELLER
         .row    
           .col-sm-4.mt-3
             .m-card.mx-auto
               img.e__img.h-bd-rounded(src="img/feature_1.png", alt="Lovely brownie ")
               h4.my-2 Lovely brownie 
               p Lorem ipsum dolloremque eius quis soluta aliquid odit repudiandae eaque, minus ullam dignissimos. Iste eius saepe qui adipisci maxime cupiditate 
           .col-sm-4.mt-3
             .m-card.mx-auto
               img.e__img.h-bd-rounded(src="img/feature_2.png", alt="Cheese cakes")
               h4.my-2 Cheese cakes
               p  Lorem ipsum dolloremque eius quis soluta aliquid odit repudiandae eaque, minus ullam dignissimos. Iste eius saepe qui adipisci maxime cupiditate 
           .col-sm-4.mt-3
             .m-card.mx-auto
               img.e__img.h-bd-rounded(src="img/feature_3.png", alt="Rainbow cake")
               h4.my-2 Rainbow cakes
               p  Lorem ipsum dolloremque eius quis soluta aliquid odit repudiandae eaque, minus ullam dignissimos. Iste eius saepe qui adipisci maxime cupiditate 
     section.p-chef.h-pink-primary.h-text-white
        .container.px-0.px-md-1.px-xl-4
          .row.no-gutters
            .col-sm-6
              .p-chef__img(style="background-image: url('img/main_cake.png')") 
            .col-sm-6
               .p-chef__content.p-3
                 h3.mb-1 Our Story
                 p varius at, adipiscing vitae est. Sed nec felis pellentesque,
                   |lacinia dui sed, ultricies sapien.
                   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia amet, numquam! Quae dicta, corporis non. Vitae placeat nostrum provident, dolorum. Officia vero laudantium nihil beatae nisi aliquam amet provident sint!
     section.p-comments.py-5.pb-3
         .container.px-md-4
             h2.h-text-center.mb-3 FEATURED
             .row
                 .col-sm-4.mt-3
                   .m-card.mx-auto
                    .overlay
                    img.e__img.h-bd-rounded(src="img/cake_1.png", alt="cake.png")
                   .p-comments__comment-text
                      h3.p-comments__comment-title Chocolate
                      p.mb-1 NT$ 150
                   
                 .col-sm-4.mt-3
                     .m-card.mx-auto
                      img.e__img.h-bd-rounded(src="img/cake_2.png", alt="cake.png")
                     .p-comments__comment-text
                         h3.p-comments__comment-title Classic
                         p.mb-1 NT$ 150

                 .col-sm-4.mt-3
                     .m-card.mx-auto
                      img(src="img/cake_3.png", alt="cake.png").e__img.h-bd-rounded
                      .p-comments__comment-text
                        h3.p-comments__comment-title Vanilla
                        p.mb-1 NT$ 150
             .row
                 .col-sm-4.mt-3
                    .m-card.mx-auto
                      img(src="img/cake_4.png ", alt="cake.png").e__img.h-bd-rounded
                      .p-comments__comment-text
                        h3.p-comments__comment-title Berry Strawberry
                        p.mb-1 NT$ 150

                 .col-sm-4.mt-3
                    .m-card.mx-auto
                      img(src="img/cake_5.png ", alt="cake.png").e__img.h-bd-rounded
                      .p-comments__comment-text
                        h3.p-comments__comment-title Chocolate
                        p.mb-1 NT$ 150
                 .col-sm-4.mt-3
                    .m-card.mx-auto
                      img(src="img/cake_6.png  ", alt="cake.png").e__img.h-bd-rounded
                      .p-comments__comment-text
                        h3.p-comments__comment-title  Lemon Tart
                        p.mb-1 NT$ 150
         //-
           footer底部    
     footer.l-footer.pt-5.pb-1
        .container.px-md-4
         .row
          .col-xl-4.mb-3.mb-xl-0
            h2.mb-1 About Us 
            p 
              |Curabitur lobortis id lorem id bibndum. Ut id consectetur magna.
              | Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at.
          .col-xl-4.mb-3.mb-xl-0
            h2.mb-1 Contact Us
            ul.l-footer__connection
              li Now where
              li +886 3939 889
              li service@gmail.com
          .col-xl-4.mb-3.mb-xl-0
            .l-footer__company
              h1.h-hide-text.mb-2
                a(href="index.html", title="logo",style="background-image: url('img/logo_w@.png')").e-brand.e-brand_size_lg
              .l-footer__social
                a(href="#", title="title")
                 i.e-icon.e-icon_facebook.fab.fa-facebook-square
                a(href="#", title="title")
                 i.e-icon.e-icon_twitter.fab.fa-twitter-square
                a(href="#", title="title")
                 i.e-icon.e-icon_youtube.fab.fa-youtube-square
                a(href="#", title="title")
                 i.e-icon.e-icon_instagram.fab.fa-instagram
         .row 
           .l-footer__copyright.mx-auto
            p.h-text-center   | Copyright ©CAE
             a(href="#", title="title")
          
             a(href="#", title="title") 竹白切版練習
         //-
           back to top     
     .e-backtop-btn.js-e-backtop-btn 
        i.fas.fa-arrow-up
        span TOP 
     script(src="js/all.js")
           
        