<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="./css/all.css", rel="stylesheet")
    script(src="./js/all.js")
    
    
  body
      h2 ddd
      p
       |ipsum dolor sit amet co\nsectetur adipisicing elit. Nulla quasi omnis cum corporis voluptatibus velit, perferendis magni suscipit vitae neque ducimus consequatur, quod magnam nesciunt voluptatum quis eaque tenetur tempora.